p{
    background-color: rgba(255, 68, 0, 0.685);
}
h1{
text-align: center;
}

a{
    text-align: right;
}

small, h2, label{
    background-color: rgba(255, 68, 0, 0.685);
    width: 450px;

}